PORT=3001
DATABASE_URL=postgresql://neondb_owner:npg_wrEcUP37YtoL@ep-twilight-voice-at31t42x.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require
FRONTEND_URL=http://localhost:5173
PYTHON_CMD=python3
SCRAPER_PATH=../scraper/src/main.py
NODE_ENV=development
